footer {
  background-image: url(/assets/imagens-angular/fundo-rodape.png);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "TextoCopyright LogoRodape";
  align-items: center;
  padding: 1rem 2rem;
}

.TextoCopyright,
.LogoRodape {
  justify-self: center;
}

.TextoCopyright {
  grid-area: TextoCopyright;
}

.LogoRodape {
  grid-area: LogoRodape;
}

footer small {
  color: white;
}

@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
