*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ff-inter { font-family: 'Inter', sans-serif; }
.ff-roboto-mono { font-family: 'Roboto Mono', monospace; }

h1 {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

h2 {
  color: #154580;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;

}

.header {
  margin: 1rem auto 2rem;
}

.container {
  width: 100%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: block;
  background: #154580;
  color: #ffffff;
  max-width: 270px;
  width: 250px;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid #154580;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.botao:hover {
  border: 2px solid #84EEC1;
  color: #84EEC1;
}

@media (min-width: 576px) {
  .container {
      width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
      width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
      width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
      width: 1140px;
  }
}
